header {
  background-color: #223F5A;
  color: white;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-left: 100px;
}

.logo-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-link:hover .logo-text {
  color: #E63946;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #F1FAEE;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #E63946; 
}

/* 우측: 검색 + 로그인 */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-icon {
  font-size: 25px;
  cursor: pointer;
  color: #F1FAEE;
}

#welcomeText {
  font-size: 20px;
  font-weight: bold;
  color: #F1FAEE;
  white-space: nowrap;
}

#loginBtn {
  padding: 6px 12px;
  background-color: #E63946;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#loginBtn:hover {
  background-color: #d62828;
}

.mypage-icon img,
.search-icon img {
  cursor: pointer;
}